<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Connected MED iot devices</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/medical/iot_device/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/medical/iot_device/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Da Vinci Robot</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">The Da Vinci robot is popular and proficient at a range of surgeries and has been regarded as a medical breakthrough. Yet, robots like the Da Vinci are not truly autonomous; a surgeon still operates the tools, albeit remotely. The development of a truly autonomous robot has remained a distant possibility, until now, with the release of STAR..</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/medical/iot_device/2.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/medical/iot_device/2.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Ultrasound Acclarix System</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">The Acclarix AX8 VET has been designed from the ground up with a relentless focus on delivering unexpected levels of innovation and performance at a price point that is equally surprising. Within itssleek footprint, the AX8 VET contains a fully featured, diagnostic ultrasound platform with advanced imaging modes.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/medical/iot_device/3_magneticMRI.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/medical/iot_device/3_magneticMRI.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Magnetic MRI</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">3D MRI Rendering is the creation of a 3 dimensional digital model from standardized MRI study. This is accomplished by using the latest technology to 'stack' the highly detailed, thin, slice cross-sectional images from the MRI to generate the 3D model.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/medical/iot_device/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/medical/iot_device/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Active Surgical</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Surgical innovation.
                            The ActivEdge™ Surgical Intelligence Platform is being built to revolutionize intraoperative surgical imaging today while gathering highly contextualized data analytics that enable accelerated video data annotation for machine-learning driven intraoperative surgical intelligence.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        IOT!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>