<mat-nav-list appAccordian>

    <mat-list-item appAccordianLink *ngFor="let menuitem of menuItems.getMenuItem()" routerLinkActive="selected" group="">
        <a appAccordianToggle [routerLink]="['/cafe', menuitem.state]" *ngIf="(menuitem.role ==='' || menuitem.role===tokenPayload.role)">
            <mat-icon>{{menuitem.icon}}</mat-icon>
            <span>{{menuitem.name}}</span>
            <span fxFlex></span>  
        </a>
    </mat-list-item> 

    <!--li *ngFor="let menuitem of menuItems.getMenuItem()">
        <a appAccordionToggle>
            <mat-icon>{{menuitem.icon}}</mat-icon>
            <span>{{menuitem.name}}</span>
            <span fxFlex></span>  
        </a>

      </li-->

</mat-nav-list>
